#requirements

flask==2.3.3
flask-login
flask-sqlalchemy
flask-debugtoolbar
flask-migrate
flask-script
flask-bcrypt
flask-bootstrap
flask-wtf
BeautifulSoup4
WebHelpers2
wtforms
pep8
feedparser
flask-msearch
whoosh
blinker

readability-lxml
email_validator

tldextract
yt_dlp

newspaper4k
gensim
celery
gunicorn
mysqlclient
SQLAlchemy-FullText-Search
