{% extends 'base.html' %}
{% block content %}
    <div class="container" role="main">
        {% include "flash.html" %}
        <h2>{{ mark.title|truncate(70) }}</h2>
        {% if mark.tags %}
            <div class="btn-group mb-3">
                {% for t in mark.tags %}
                    <a href="{{ url_for('marks.mark_q_tag', slug=t.title) }}" class="btn btn-outline-secondary" role="button">{{ t.title }}</a>
                {% endfor %}
            </div>
        {% endif %}
        <div class="row">
            {% for entry in data['entries'] %}
            <div class="col-sm-6 col-md-4">
                <div class="card mb-3">
                    {% if entry['media_thumbnail'] %}
                        <img class="card-img-top img-fluid" src="{{ entry['media_thumbnail'][0]['url'] }}" alt="thumbnail">
                    {% endif %}
                    <div class="card-body">
                        <ul class='statslist list-unstyled'>
                            <li class='date text-muted'>{{ entry['published'] }}</li>
                        </ul>
                        {% for link in entry['links'] %}
                            {% if link['rel'] == 'alternate' or link['rel'] == 'enclosure'%}
                                <h5 class="card-title"><a href="{{ link['href'] }}">{{ entry['title'] | truncate(20) }}</a></h5>
                            {% endif %}
                        {% endfor %}
                        <p class="card-text">
                            {{ entry['summary'] | truncate(60) }}
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
