{% extends 'base.html' %}
{% block content %}
    <div class="container" role="main">
        {% include "flash.html" %}
        <h2>{{ mark.title }}
            {% if mark.tags %}
                <div class="btn-group">
                    {% for t in mark.tags %}
                        <a href="{{ url_for('marks.mark_q_tag', slug=t.title) }}" class="btn btn-primary btn-sm" role="button">{{ t.title }}</a>
                    {% endfor %}
                </div>
            {% endif %}
        </h2>
        <div class="row">
            {% for i, entry in data['entries'] | enumerate %}
            <div class="col-sm-9 col-md-6">
                <div class="card mb-3">
                    {% if entry['media_thumbnail'] %}
                        <img class="card-img-top img-fluid rounded" src="{{ entry['media_thumbnail'][0]['url'] }}" alt="thumbnail">
                    {% endif %}
                    <div class="card-body">
                        <ul class='statslist list-inline'>
                            <li class='list-inline-item date'>{{ entry['published'] | datewordsstr }} ago</li>
                            {% if entry['yt_statistics'] %}
                                <li class='list-inline-item viewcount'>{{ entry['yt_statistics']['viewcount'] | thousandsep }} views</li>
                            {% endif %}
                            {% if entry['gd_rating'] %}
                                <li class='list-inline-item votes'>&hearts;{{ entry['gd_rating']['numraters'] | thousandsep }}</li>
                            {% endif %}
                            <li class='list-inline-item duration'>{{ entry['yt_duration']['seconds'] | sectomin}} min</li>
                        </ul>
                        {% for link in entry['links'] %}
                            {% if link['rel'] == 'alternate' or link['rel'] == 'enclosure'%}
                                <h5 class="card-title"><a href="{{ link['href'] }}" title="{{ entry['title'] }}">{{ entry['title'] | truncate(37) }}</a></h5>
                            {% endif %}
                        {% endfor %}
                        <p>
                            <!-- Button trigger modal -->
                            <button class="btn btn-primary btn-sm d-block w-100" data-bs-toggle="modal" data-bs-target="#desc-{{i}}-Modal">
                                More info
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="desc-{{i}}-Modal" tabindex="-1" aria-labelledby="desc-{{i}}-ModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="desc-{{i}}-ModalLabel">{{ entry['title'] }}</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <pre>{{ entry['summary'] }}</pre>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
